.vs/
*/#backups/*
*/Configs/*/*

*/extensions/*/*.cpp
*/extensions/*/*.dll
*/datafiles/shader_replace_unsafe.html

*/Debug/
*/Release/
Debug/
Release/
export/*.gmz
export/*.gmez
export/*.yyz
export/*.yymp
export/*.yymps
export/*.png
export/*.zip

*.sdf
help.rtf